<div class="box add-gateway-container">
    <h3 class="has-text-centered">Add new Gateway</h3>
    <form *ngIf="gatewayForm" [formGroup]="gatewayForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input placeholder="The gateway name" autofocus formControlName="name"
                    [ngClass]="(name?.invalid && (name?.dirty || name?.touched))?'is-danger':''"
                    class="input is-rounded" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">Ipv4</label>
            <div class="control">
                <input placeholder="Ipv4 address" formControlName="ipv4"
                    [ngClass]="(ipv4?.invalid && (ipv4?.dirty || ipv4?.touched))?'is-danger':''"
                    class="input is-rounded" type="text">
            </div>
        </div>
        <div class="control is-justify-content-right">
            <button [disabled]="!gatewayForm.valid" class="button is-link" type="submit">Add</button>
        </div>
    </form>
</div>